
header {
    background-color:#673ab7;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.container { 
    padding: 25px;
    background-color: white;
    margin: 50px;
    width: 50%
     } 
     body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: white;
      }
      button { 
             background-color:  #673ab7;
             width: 100%;
              color: white; 
              padding: 15px; 
              margin: 10px 0px; 
              border: none; 
              cursor: pointer; 
               } 
       form { 
              border: none
          } 
       input[type=text], input[type=password] { 
              width: 100%; 
              margin: 8px 0;
              padding: 12px 20px; 
              display: inline-block; 
              border: 2px solid black;
              box-sizing: border-box; 
          }
          @media screen and (min-width:768px) {
        .text {
            height: 50%;
            width: 33%;
        }
          }
